{% extends 'base.html' %}
{% load static %}

{% block content %}

<form method="post">
    
  {% csrf_token %}
    {{ log_form.as_p }}
  
    <table class=".table-striped">
      <thead>
        <tr>
          <th>Kübelbezeichnung</th>
          <th>Sonstiges [h]</th>
          <th>Reinigung [h]</th>
          <th>Waschen [h]</th>
          <th>Waschen [Stk]</th>
          <th>Instandh. [h]</th>
          <th>Instandh. [Stk]</th>
          <th>Zerlegen [h]</th>
          <th>Zerlegen [Stk]</th>
        </tr>
      </thead>
      <tbody>
        {{ formset.management_form }}
        {% for form in formset %}
        {{ form.id }}
        {% for field in form.hidden_fields %}
        {{ field }}
        {% endfor %}
          <tr>
            {% for field in form %}
              {{ field.id }} 
              <td> {{ field }} </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
    <button type="submit">Submit</button>
  </form>
  
  <!-- {% if log_form.errors %}
  <div class="error">{{ log_form.errors }}</div>
{% endif %}

{% for form in formset %}
  {% if form.errors %}
    <div class="error">{{ form.errors }}</div>
  {% endif %}
{% endfor %}
 -->
  {% endblock %}

{% block footer %}{% endblock %}