.cte {vertical-align: middle; 
     text-align: center;
    }

.chor {text-align: center;}

.table-striped td,
.table-striped th {
    padding:0 !important;
    vertical-align: middle;
    text-align: center;
} 

td input {
    width: 100px;  /* or whatever width you want */
}

.infofield {width: 170px ;}