{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Demo FCC-Dateneingabe {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'him2_kuebelwaschplatz/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'him2_dboard_kuebelwaschplatz/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" >
</head>


<body class="container mt-5">
    
<!-- Navigation bar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'start_page' %}">FCC - <i>Django Unchained</i></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link">User: {{ user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

    <header>
        &nbsp;
        <div class="text-center">
            <img src="{% static 'logo.png' %}" alt="Logo" width="150">
        </div>
        &nbsp;
        
        <ul class="text-center mt-3">
            {% load membership_filter %}
            {% if request.user|has_group:"Site-Manager" or request.user.is_superuser %}
                <a href="{% url 'admin' %}" class="btn btn-success">Admin-Seite</a>
            {% endif %}
            <a href="{% url 'start_page' %}" class="btn {% if request.path == '/' %}btn-primary{% else %}btn-secondary{% endif %}">Startseite</a>
            <a href="{% url 'kuebel_aktivitaet' %}" class="btn {% if request.path == '/him2_kuebelwaschplatz/kuebel_aktivitaet' %}btn-primary{% else %}btn-secondary{% endif %}">Kübel-Platz HIM2 Dateneingabe</a>
            <a href="{% url 'grouped_dashboard' %}" class="btn {% if request.path == '/him2_dboard_kuebelwaschplatz/grouped_dashboard' %}btn-primary{% else %}btn-secondary{% endif %}">Kübel-Platz HIM2 Dashboard</a>
        
        </ul>
        
        <ul class="text-center mt-3">
            <a href="{% url 'stunden_eingabe' %}" class="btn {% if request.path == '/him2_pressenlinie/stunden_eingabe' %}btn-primary{% else %}btn-secondary{% endif %}">Presselinie Zeiterfassung HIM2 Dashboard</a>
        </ul>

    </header>

    <main>
        <div class="text-center">
            {% block content %}{% endblock %}
        </div>
    </main>
    
    {% block footer %}
    <footer>
        <ul class="text-center mt-3">
            {% load membership_filter %}
            {% if request.user|has_group:"Site-Manager" or request.user.is_superuser %}
                <a href="{% url 'admin' %}" class="btn btn-success">Admin-Seite</a>
            {% endif %}

            <a href="{% url 'start_page' %}" class="btn {% if request.path == '/' %}btn-primary{% else %}btn-secondary{% endif %}">Startseite</a>
            <a href="{% url 'kuebel_aktivitaet' %}" class="btn {% if request.path == '/him2_kuebelwaschplatz/kuebel_aktivitaet' %}btn-primary{% else %}btn-secondary{% endif %}">Kübel-Platz HIM2</a>
            <a href="{% url 'grouped_dashboard' %}" class="btn {% if request.path == '/him2_dboard_kuebelwaschplatz/grouped_dashboard' %}btn-primary{% else %}btn-secondary{% endif %}">Kübel-Platz HIM2 Dashboard</a>
        </ul>

        <ul class="text-center mt-3">
            <a href="{% url 'stunden_eingabe' %}" class="btn {% if request.path == '/him2_pressenlinie/stunden_eingabe' %}btn-primary{% else %}btn-secondary{% endif %}">Presselinie Zeiterfassung HIM2 Dashboard</a>
        </ul>

    </footer>
    {% endblock %}

    {% block extra_js %}{% endblock %}

</body>
</html>
