{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Demo FCC-Dateneingabe {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'kuebelwaschen_him2/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" >
</head>


<body class="container mt-5">
    
    <header>

        <div class="text-center">
            <img src="{% static 'logo.png' %}" alt="Logo" width="150">
        </div>
        &nbsp;
        
        <!-- <h2 class="text-center">PROD/LINZ - Tagesbericht Sortierung - Datendarstellung</h2> -->
        
        
        <ul class="text-center mt-3">
            <a href="{% url 'start_page' %}" class="btn {% if request.path == '/' %}btn-primary{% else %}btn-secondary{% endif %}">Startseite</a>
            <a href="{% url 'kuebel_aktivitaet' %}" class="btn {% if request.path == '/kuebel_aktivitaet' %}btn-primary{% else %}btn-secondary{% endif %}">Kübel-Platz HIM2</a>
            <a href="{% url 'grouped_dashboard' %}" class="btn {% if request.path == '/dashboards/grouped_dashboard/' %}btn-primary{% else %}btn-secondary{% endif %}">Dashboard</a>
        </ul>
    </header>

    <main>
        <div class="text-center">
            {% block content %}{% endblock %}
        </div>
    </main>
    
    {% block footer %}
    <footer>
        <ul class="text-center mt-3">
            <a href="{% url 'start_page' %}" class="btn {% if request.path == '/' %}btn-primary{% else %}btn-secondary{% endif %}">Startseite</a>
            <a href="{% url 'kuebel_aktivitaet' %}" class="btn {% if request.path == '/kuebel_aktivitaet' %}btn-primary{% else %}btn-secondary{% endif %}">Kübel-Platz HIM2</a>
        </ul>
    </footer>
    {% endblock %}

    {% block extra_js %}{% endblock %}

</body>
</html>
