{% extends 'base.html' %}
{% load static %}
{% load my_filters %}
{% load form_extras %}


{% block content %}
<div class="text-center">
  <h1>
      {% block header_title %} Zeiterfassung Presselinie HIM2 - {% now "d.m.Y" %}  {% endblock %}</h1>
  </h1> 
</div>    
<form id="presse-aktivität-form" method="post" action="{% url 'stunden_eingabe' %}" class="container mt-4">
  {% csrf_token %}
  
  <div class="row justify-content-center align-items-end g-3">
    <!-- Datum -->
    <div class="col-auto text-center">
      <label for="{{ session_form.created_date_mitarbeiter.id_for_label }}" class="form-label">Datum</label>
      <div class="d-flex gap-1">
        {{ session_form.created_date_mitarbeiter }}
      </div>
    </div>

    <!-- Anmerkung -->
    <div class="col-auto text-center">
      <label for="{{ session_form.comments.id_for_label }}" class="form-label">Anmerkung</label>
      {{ session_form.comments }}
    </div>
  </div>
 
  {% if data_form.non_field_errors %}
  <div class="alert alert-danger">
    {% for error in data_form.non_field_errors %}
      <p>{{ error }}</p>
    {% endfor %}
  </div>
  {% endif %}

  
  <div class="container mt-4">
    Mitarbeiter 1 darf nicht gleich Mitarbeiter 2 sein! 
      <div class="row justify-content-center">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th style="width: 100px;">Schicht</th>
            <th style="width: 100px;">Mitarbeiter 1*</th>
            <th style="width: 100px;">Mitarbeiter 2*</th>
            {% for zeittyp in zeittypen %}
              <th>{{ zeittyp }}</th>
            {% endfor %}
          </tr>
        </thead>
<tbody>
  {% for schicht in schichten %}
    <tr>
      <td>{{ schicht }}</td>
      <!-- Dynamically generate the field name for schicht_mitarbeiter_1 -->
      {% with schicht.id|stringformat:"s" as schichtid %}
        {% with "schicht_mitarbeiter_1_"|add:schichtid as field_name_1 %}
        <td>{{ data_form|get_field:field_name_1 }}</td>
        {% endwith %}
      <!-- Dynamically generate the field name for schicht_mitarbeiter_2 -->
        {% with "schicht_mitarbeiter_2_"|add:schichtid as field_name_2 %}
        <td>{{ data_form|get_field:field_name_2 }}</td>
        {% endwith %}
      {% endwith %}

      {% for zeittyp in zeittypen %}
        {% with schicht.id|stringformat:"i" as schichtid %}
          {% with zeittyp.id|stringformat:"i" as zeitid %}
            {% with "entry_"|add:schichtid|add:'_'|add:zeitid as field_name %}
            <td>{{ data_form|get_field:field_name }}</td>
            {% endwith %} 
          {% endwith %}
        {% endwith %}
      {% endfor %}
    </tr>
  {% endfor %}
</tbody>
      </table>
  

  <div class="container mt-4">
      <div class="row justify-content-center">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th style="width: 100px;">Schicht</th>
            <th style="width: 100px;">Stromzähler</th>
            <th style="width: 100px;">Zählerstand Presse</th>
          </tr>
        </thead>
<tbody>
  {% for schicht in schichten %}
    <tr>
      <td>{{ schicht }}</td>
        {% with schicht.id|stringformat:"i" as schichtid %}
            {% with "stromzaehler_"|add:schichtid as field_name %}
            <td>{{ aktivitaet_form|get_field:field_name }}</td>
          {% endwith %}
        {% endwith %}
        
        {% with schicht.id|stringformat:"i" as schichtid %}
            {% with "pressezaehler_"|add:schichtid as field_name %}
            <td>{{ aktivitaet_form|get_field:field_name }}</td>
          {% endwith %}
        {% endwith %}

    </tr>
  {% endfor %}
</tbody>
      </table>
      

<div class="container mt-4">
  <div class="row justify-content-center">
 
    <table class="table table-striped">
      {{ tank_form.management_form }}      
      <thead>
        <tr>
          <th style="width: 200px;">Fahrzeug</th>
          <th>Diesel getankt [L]</th>
          <th>Laufzeit [hh]</th>
          <th>Laufzeit [mm]</th>
        </tr>
      </thead>
      <tbody>
          <tr>
      <!-- <td colspan="9">{{ form.kuebel_art.value }}</td>  -->
      
      {% for form in tank_form %}
              <tr>
                {{ form.fahrzeug_id }} 
                <td style="width: 200px;">{{ form.fahrzeug_name }}</td>
                <td style="background-color: #a8c8e4; width: 200px;">{{ form.amount_fuel }}</td>
                <td>{{ form.laufzeit_hour }}</td>
                <td>{{ form.laufzeit_minute }}</td>
              </tr>
            {% endfor %}
      </tbody>
      </table>
  

  <button type="submit" class="btn btn-primary">Speichern</button>
</form>
</div>
</div>

  {% endblock %}

{% block footer %}{% endblock %}


