{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FCC DEMO - Datenerfassen Produktion</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'data_entry/styles.css' %}">
    
</head>
<body class="container mt-5">
    
    <div class="text-center">
        <img src="{% static 'logo.png' %}" alt="Logo" width="150">
    </div>
    &nbsp;

    <h2 class="text-right">PROD/LINZ - Tagesbericht Sortierung - Datendarstellung </h2>

    <form method="post">
        {% csrf_token %}

    <!-- Employees Table -->
    <h3>Mitarbeiter</h3>
    {{ employee_formset.management_form }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Arbeitsbeginn</th>
                <th>Arbeitsende</th>
                <th>Pause (h)</th>
                <th>Abwesenheitsgrund</th>
                <th>angelegt am</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in employee_formset.empty_form.visible_fields %}
            <tr>
                <td>{{ emp.first_name }}</td>
                <td>{{ emp.surname }}</td>
                <td>{{ emp.work_start }}</td>
                <td>{{ emp.work_end }}</td>
                <td>{{ emp.break_time }}</td>
                <td>{{ emp.absence }}</td>
                <td>{{ emp.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Work Categories Table -->
    <h3>Modul 3 - Gewerbe - PET - Bonus</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>angelegt am</th>
                <th>Reinigung (h)</th>
                <th>Wartung / Reparatur (h)</th>
                <th>Störung (h)</th>
            </tr>
        </thead>
        <tbody>
            {% for work in work_categories %}
            <tr>
                <td class="chor">{{ work.created_at }}</td>
                <td class="chor">{{ work.cleaning }}</td>
                <td class="chor">{{ work.maintenance }}</td>
                <td class="chor">{{ work.interruption }}</td>
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Anzahl Container</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>erstellt am</th>
                <th>Alu Dosen (Kübel - 8,5 kg)</th>
                <th>Holz (Container - 6 t)</th>
                <th>Karton (Container - 6 t)</th>
                <th>Magnetschrott (Container - 6 t)</th>
                <th>Kanister (1 Container = 5 Ballen)</th>
            </tr>
        </thead>
        <tbody>
            {% for cont in cont_counts %}
            <tr>
                <td>{{ cont.created_at }}</td>
                <td class="chor">{{ cont.alu }}</td>
                <td class="chor">{{ cont.holz }}</td>
                <td class="chor">{{ cont.karton }}</td>
                <td class="chor">{{ cont.magnetschrott }}</td>
                <td class="chor">{{ cont.kanister }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Work Hours Table -->
    <h3>Zählerstand Betriebsstunden</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>angelegt am</th>
                <th>Beginnzeit</th>
                <th>Endzeit</th>
                <th>Differenz</th>                
            </tr>
        </thead>
        <tbody>
            {% for hours in work_hours %}
            <tr>
                <td>{{ hours.created_at }}</td>
                <td>{{ hours.start_time }}</td>
                <td>{{ hours.end_time }}</td>
                <td>{{ hours.difference }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
    <ul class="text-center">
        <a href="{% url 'entrance_page' %}">Startseite</a>
        &nbsp;
        <a href="{% url 'form_page' %}">Dateneingabe</a>
    </ul>


</body>
</html>
